################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SIGEPROS2/v17/DocumentLayout.json
/pnacpacam/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs
*.user
