@Html.AntiForgeryToken()

<div class="row panel-titulo">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Carga de Inventario</h3>
    </div>

</div>

<div class="container-datatable">

    <div class="row">
        <div id="divAlertaRep" role="alert" style="display:none; margin:4px" onclick="javascript: $('#divAlertaRep').hide();">
            <div class="col-md-8 alert alert-warning text-center">
                <span id="msjeAlertaRep"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0px; margin-left: 0px;">

        <div class="form-inline">

            <div class="form-group mx-sm-3 mb-2">
                <input type="file" id="documentoAImportar" name="documentoAImportar" accept="xmls/xmls" class="btn btn-sm btn-primary">
            </div>
            <button id="btnImportarExcel" name="btnImportarExcel" class="btn btn-sm btn-primary">Importar</button>

            <label> Seleccione inventario al que desea asignar </label>
            <div class="form-group mx-sm-3 mb-2">
                <select class="form-control select2" name="selCarga_Inventarios" id="selCarga_Inventarios">
                    <option value=""></option>
                </select>
            </div>
            <button id="btnAsignarExcel" name="btnAsignarExcel" class="btn btn-sm btn-primary">Asignar Excel Leido</button>
        </div>

    </div>
    <div id="mensajes-carga"></div>
    <div class="tablas">
        <div id="divloading" name="divloading"></div>
        <table id="tablaCargaInventario" class="table table-hover table-bordered table-striped table-border-blue" width="100%">
            <thead class="table-blue">
                <tr>
                    <th>Código Producto</th>
                    <th>Denominación</th>
                    <th>Serie</th>
                    <th>Vencimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="clearfix"></div>

</div>

<div id="print"></div>
























