<div class="row panel-titulo">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Cierre Inventario</h3>
    </div>
</div>

<div class="container-datatable">
    <div class="row">
        <div id="divAlertaRepXXX" role="alert" style="display:none; margin:4px" onclick="javascript: $('#divAlertaRep').hide();">
            <div class="col-md-8 alert alert-warning text-center">
                <span id="msjeAlertaRep"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-12">
            <input type='month' name='periodoCierre' id='periodoCierre' class='form-control input-sm' value='2022-01'>
        </div>
    </div>

    <div class="toolbar-cargaInventario col-sm-12 col-xs-12" hidden><div><div id="divloading2"><img src="Content/img/loading.gif" alt="loading" width="1%"><span> Cargando Datos...</span></div></div></div>

    <div class="tablas">
        <table id="tablaCierreInventario" class="table table-hover table-bordered table-striped table-border-blue" width="100%">
            <thead class="table-blue">
                <tr>
                    <th>Código Producto</th>
                    <th>Denominacion</th>
                    <th>Saldo Inicial</th>
                    <th>Saldo Actual</th>
                    <th>Precio Promedio Unitario</th>
                    <th>Saldo $</th>
                    <th>Cantidad Compra</th>
                    <th>Precio Compra</th>
                    <th>Cantidad Entrega</th>
                    <th>Costo Actual</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>





    <div class="clearfix"></div>
</div>


<div id="print"></div>






