@Html.AntiForgeryToken()


<style>
    .row {
        width: 100%;
        margin: 0 auto;
    }

    .block1 {
        width: 70%;
        float: left;
    }
    .block2 {
        width: 30%;
        float: left;
    }
</style>



<form id="formIngresaFactura">
    <div class="row panel-titulo">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group row">
                <div class="col-sm-10">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav menu-principal">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        &nbsp; <button type="submit" class="btn btn-sm btn-principal" id="btn-crear-inventario-documento"><span class='fas fa-save'></span> Guardar</button>
                                    </li>
                                    <li>
                                        &nbsp; <button type="button" class="btn btn-sm btn-principal" id="btn-limpiar-inventario-documento"><span class='fas fa-save'></span> Limpiar</button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel-titulo">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>PROVEEDORES</h3>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-group">
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input id="rutProveedor" name="rutProveedor" type="text" class="form-control" placeholder="Rut del Proveedor" required aria-required="true" disabled style="width: auto;">
                                <select id="nombreProveedor" name="nombreProveedor" class="form-control select2" required></select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="block1">
                                <div class="tablas">
                                    <table id="tablaDespachos" class="table table-hover table-bordered table-striped table-border-blue" width="100%">
                                        <thead class="table-blue">
                                            <tr>
                                                <th>LIFNR</th>
                                                <th>Factura</th>
                                                <th>Doc.Venta</th>
                                                <th>Pedido Compra</th>
                                                <th>Grupo Art.</th>
                                                <th>Canal</th>
                                                <th>Guia</th>
                                                <th>Material</th>
                                                <th>Lote</th>
                                                <th>Cant.Doc.</th>
                                                <th>Cant.Info.</th>
                                                <th>Neto</th>
                                                <th>Obs.</th>
                                                <th>DocumentoEntrega</th>
                                                <th>Vencimiento</th>
                                                <th>MotivoRechazo</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="block2">
                                <iframe name="_documentoPreview" style="width:100%;height: 100rem;border:2px solid #4e46e5;"></iframe>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>










