@Html.AntiForgeryToken()

<form id="formIngresaFactura">

    <header>

        <div class="navbar-fixed-top" style="top:50px;z-index:10">

            <div class="form-group row" style="background-color: #c8d7ed;">
                <div class="col-sm-3">

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav menu-principal">
                            <li class="dropdown">


                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Acciones<span class="caret"></span></a>

                                <ul class="dropdown-menu" role="menu">

                                    <li style="padding-bottom: 7px;">
                                        <button type="submit" class="btn btn-success toolbar-opciones" id="btn-crear-inventario-documento"><span class='fas fa-save'></span> Confirmar Documento </button>
                                    </li>

                                    <li style="padding-bottom: 7px;">
                                        <button type="button" class="btn btn-principal toolbar-opciones" id="btn-limpiar-inventario-documento"><span class='fas fa-eraser'></span> Limpiar</button>
                                    </li>

                                </ul>

                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- RECONSTRUYENDO EL FORMULARIO -->

    <div class="panel panel-primary ">
        <div class="panel-heading">
            <strong>Cabecera del Documento</strong>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td class="table-blue" style="vertical-align: middle;">Proveedor</td>
                    <td class="Formulario-TD-Input-small">
                        <input id="rutProveedor" name="rutProveedor" type="text" class="form-control" placeholder="Rut del Proveedor" required aria-required="true" disabled style="width: auto;">
                    </td>
                    <td class="Formulario-TD-Input-large" style="text-align: inherit;">
                        <select id="nombreProveedor" name="nombreProveedor" class="form-control select2" required></select>
                    </td>
                </tr>
                <tr>
                    <td class="table-blue" style="vertical-align: middle;">Documento</td>
                    <td class="Formulario-TD-Input-small">
                        <input id="numeroDocumento" name="numeroDocumento" type="text" class="form-control" placeholder="Número de Documento" required aria-required="true" style="width: auto;">
                    </td>
                    <td class="Formulario-TD-Input-large" style="text-align: inherit;">
                        <select id="tipoDocumento" name="tipoDocumento" class="form-control select2"></select>
                    </td>
                </tr>

                <tr>
                    <td class="table-blue" style="vertical-align: middle;">Cliente</td>
                    <td class="Formulario-TD-Input-small">
                        <input class="form-control rut" id="rutClienteDoc" name="rutClienteDoc" type="text" placeholder="Rut Cliente" required="" aria-required="true" disabled style="width: auto;">

                    <td class="Formulario-TD-Input-large" style="text-align: inherit;">
                        <select class="form-control select2" name="selClientes" id="selClientes"></select>
                    </td>
                </tr>
                <tr>
                    @{
                        //string format = "dd/MM/yyyy HH:mm:ss";
                        //string formatsmall = "dd/MM/yyyy";
                        string formatoFecha = "yyyy-MM-dd";
                        string formatoHora = "HH:mm:ss";
                        var fechaActual = DateTime.Now.ToString(formatoFecha);
                        var horaActual = DateTime.Now.ToString(formatoHora);
                    }
                    <td class="table-blue" style="vertical-align: middle;">Fecha Compra</td>

                    <td class="Formulario-TD-Input-small">

                        <input id="fechaDocumento" name="fechaDocumento" value="@fechaActual" type="date" class="form-control" placeholder="Fecha de Emisión del Documento" required aria-required="true" style="width: auto;">

                    </td>

                    <td class="Formulario-TD-Input-small"><input id="horaDocumento" name="horaDocumento" type="time" class="form-control" style="width: auto;" value="@horaActual" max="20:00:00" min="10:00:00" step="1" disabled></td>

                </tr>

                <tr>
                    <td class="table-blue" style="vertical-align: middle;">Documento Referencia</td>
                    <td class="Formulario-TD-Input-small"><input id="numeroDocumentoRef" name="numeroDocumentoRef" type="text" class="form-control" placeholder="Número de Documento" style="width: auto;"></td>
                    <td class="Formulario-TD-Input-large" style="text-align: inherit;"><select id="tipoDocumentoRef" name="tipoDocumentoRef" class="form-control select2"></select></td>

                </tr>

                <tr>

                    <td class="table-blue" style="vertical-align: middle;">Total Documento</td>
                    <td class="Formulario-TD-Input-small">
                        <input id="totalDocumento" name="totalDocumento" type="text" class="form-control" placeholder="Total Documento" disabled style="width: auto;font-weight: bold;background-color: beige;"/>
                        <input id="totalDocumentoSinFormato" /> 
                    </td>
                    <td></td>

                </tr>

            </table>
        </div>
    </div>

    <!-- -->
































    <div class="panel panel-primary ">

        <div class="panel-body">

            <div class="row">

                <div class="panel panel-group ">
                    <div class="panel-heading">
                        <strong>Datos Detalle del Documento</strong>
                    </div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="tablas">
                                <table class="table table-hover table-bordered table-striped table-border-blue" width="100%">
                                    <thead class="table-blue">
                                        <tr>
                                            <th>Producto</th>
                                            <th colspan="2">Serie / Vencimiento</th>
                                            <th>Unidad</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unitario</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="Formulario-TD-Input-medium" style="text-align:inherit;">

                                                <select id="sel_Producto_documento" name="sel_Producto_documento" class="form-control select2" required></select>

                                                <!-- resto de variables ocultas necesarias para dar mas informacion del producto seleccionado    type="hidden"  -->
                                                <input id="codigoProducto" name="codigoProducto" /> <!--  type="hidden"> -->
                                                <input id="id_unidadVenta" />
                                                <input id="um_estado" />
                                                <input id="um_cantidad" />
                                                <!-- fin variables ocultas producto -->

                                            </td>
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="serie" name="serie" type="text" class="form-control" placeholder="Serie" required aria-required="true">
                                            </td>
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="vencimiento" name="vencimiento" type="date" class="form-control" placeholder="Fecha Vencimiento" required aria-required="true" value="@fechaActual">
                                            </td>
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="dsp_codigoUnidad" name="dsp_codigoUnidad" type="hidden" class="form-control" placeholder="codigoUnidad" required aria-required="true">
                                                <input id="dsp_unidadVenta" name="dsp_unidadVenta" type="text" class="form-control" placeholder="unidadVenta" aria-required="true" disabled>
                                            </td>
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="cantidad" name="cantidad" type="text" class="form-control" placeholder="cantidad" required aria-required="true">
                                            </td>
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="costoCenabast" name="costoCenabast" type="text" class="form-control" placeholder="costoCenabast" required aria-required="true">
                                            </td>
                                            <!--
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="costoBienestar" name="costoBienestar" type="hidden" class="form-control" placeholder="costoBienestar" required aria-required="true" disabled>
                                                <div id="div_costoBienestar" class="form-control"></div>
                                            </td>
                                            <td class="Formulario-TD-Input-xsmall">
                                                <input id="precioPromedioPonderado" name="precioPromedioPonderado" type="hidden" class="form-control" placeholder="precioPromedioPonderado" required aria-required="true" disabled>
                                                <div id="div_precioPromedioPonderado" class="form-control"></div>
                                            </td>


                                            -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="panel panel-primary ">
        <div class="panel-heading">
            <strong>Datos de Documentos Ingresados</strong>
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="tablas">
                    <table id="tablaDocumentosIngresados" class="table table-hover table-bordered table-striped table-border-blue" width="100%">
                        <thead class="table-blue">
                            <tr>

                                <th>Rut Proveedor</th>
                                <th>Proveedor</th>
                                <th>Nro. Docto.</th>
                                <th>Tipo Docto.</th>
                                <th>Fecha Docto.</th>
                                <th>Hora Docto. COLUMNA OCULTA</th>
                                <th>Nro. Doc. Ref.</th>
                                <th>Tipo Doc. Ref.</th>
                                <th>Producto</th>
                                <th>Denominacion</th>
                                <th>Serie</th>
                                <th>Vencimiento               </th>
                                <th>dsp_codigoUnidad COLUMNA OCULTA   </th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Costo Cenabast</th>
                                <th>costo Bienestar</th>
                                <th>Precio Prom. Pond.</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</form>










