<div class="row panel-titulo">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Inventarios</h3>
    </div>
</div>

<div class="tablas">
    @Html.AntiForgeryToken()
    <table id="tablaInventario" class="table table-hover table-bordered table-striped table-border-blue" width="100%">
        <thead class="table-blue">
            <tr>
                <th>Id Inventario</th>
                <th>Descripción</th>
                <th>Programado</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal CREAR INVENTARIO -->
<div class="modal fade" id="modal-lista-Inventarios" role="dialog" tabindex="-1" aria-labelledby="" data-backdrop="static" style="overflow:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetFormInventarioCrear();">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-crear-inventario-titulo">Crear Inventario</h4>
            </div>
            <form id="formInventario">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Descripción</label>
                        <input name="descripcion" id="descripcion" class="form-control" type="text" required />
                        <input name="idInventario" id="idInventario" type="hidden" value="" />
                    </div>
                    <div class="form-group">
                        <label for="">Fecha</label>
                        <input name="fechaInventario" id="fechaInventario" class="form-control" type="date" required />
                    </div>
                    <div class="form-group">
                        <label for="">Programado</label>
                        <select name="programado" id="programado" class="form-control select2" required>
                            <option value="SI" selected>SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Estado</label>
                        <select name="estado" id="estado" class="form-control select2" required>
                            <option value="ABIERTO" selected>ABIERTO</option>
                            <option value="CERRADO">CERRADO</option>
                            <option value="ANULADO">ANULADO</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-principal" id="btn-crear-inventario">Crear</button>
                    <button type="button" class="btn btn-sm btn-secundario" data-dismiss="modal" onclick="resetFormInventarioCrear();">Salir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal MODIFICAR INVENTARIO -->
<div class="modal fade" id="modal-modificar-inventario" role="dialog" tabindex="-1" aria-labelledby="" data-backdrop="static" style="overflow:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-modificar-inventario-titulo">Modificar Inventario</h4>
            </div>

            <form id="formInventarioModificar">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Descripción</label>
                        <input name="descripcionModificar" id="descripcionModificar" class="form-control" type="text" required />
                        <input name="idInventarioModificar" id="idInventarioModificar" type="hidden" value="" />
                    </div>
                    <div class="form-group">
                        <label for="">Fecha</label>
                        <input name="fechaInventarioModificar" id="fechaInventarioModificar" class="form-control" type="text" required />
                    </div>
                    <div class="form-group">
                        <label for="">Programado</label>
                        <select name="programadoModificar" id="programadoModificar" class="form-control" required>
                            <option value="SI" selected>SI</option>s
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Estado</label>
                        <select name="estadoModificar" id="estadoModificar" class="form-control" required>
                            <option value="ABIERTO" selected>ABIERTO</option>
                            <option value="CERRADO">CERRADO</option>
                            <option value="ANULADO">ANULADO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Fecha Creación</label>
                        <input name="fechaCreacionModificar" id="fechaCreacionModificar" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="">Fecha Modificación</label>
                        <input name="fechaModificacionModificar" id="fechaModificacionModificar" class="form-control" readonly />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-principal" id="btn-i-modificar">Modificar</button>
                    <button type="button" class="btn btn-secundario" data-dismiss="modal">Salir</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal VER INVENTARIO -->
<div class="modal fade" id="modal-ver-inventario" role="dialog" tabindex="-1" aria-labelledby="" data-backdrop="static" style="overflow:auto">
    <div class="modal-dialog modal-lg modal-scrollbar " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="dspInventario" class="form-group col-md-12"></div>
                <div id="dspfechas" class="form-group col-md-12"></div>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form id="formVerInventario">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="">Programado</label>
                                    <input name="programadoVer" id="programadoVer" class="form-control" type="text" readonly />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Estado</label>
                                    <input name="estadoVer" id="estadoVer" class="form-control" type="text" readonly />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <table id="tablaInventarioDetalleVer" class="table table-hover table-bordered table-striped" style="width:100%;">
                            <thead class="thead-bgcolor">
                                <tr>
                                    <td>Identificador Inventario</td>
                                    <th>Código Producto</th>
                                    <th>Denominación</th>
                                    <th>Serie</th>
                                    <th>Fecha Vencimiento</th>
                                    <td>Cantidad</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secundario" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>









