<div class="row panel-titulo">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Configuraciones</h3>
    </div>
</div>

<div class="row">
    <Form class="formularioReferencias">

        <div class="col-md-6">
            <div class="form-group">


                <input id="formulario.referencia.Abreviatura" type="text" class="form-control" placeholder="Valor en texto" />

                <input id="formulario.referencia.Descripcion" type="text" class="form-control" placeholder="Sistema">

                <input id="formulario.referencia.TValor" />
                <input id="formulario.referencia.NValor" />

                <input id="formulario.referencia.DeberHaberNeutro" />
                <input id="formulario.referencia.enabled" />
                <input id="formulario.referencia.FechaActualizacion" />
                <input id="formulario.referencia.FechaCreacion" />


            </div>
        </div>

    </Form>
</div>



<div class="container-datatable">

    <div class="row">

        <div class="col-md-12">
            <h4><strong>lista de variables</strong></h4>
        </div>

        <div class="tablas">
            <table id="tablaReferencias" class="table table-hover table-bordered table-striped table-border-blue" width="100%">
                <thead class="table-blue">
                    <tr>


                       <td>Abreviatura        </td>
                       <td>Descripcion        </td>
                       <td>TValor             </td>
                       <td>NValor             </td>
                       <td>DeberHaberNeutro   </td>
                       <td>enabled            </td>
                       <td>FechaActualizacion </td>
                       <td>FechaCreacion      </td>

                        <td>Acciones          </td>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-12">

    </div>

</div>


