<div class="row panel-titulo">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Autorización de Usuarios</h3>
    </div>
</div>

<div class="container-datatable">
    <div class="row">
        <table class="table table-hover table-bordered table-striped table-border-blue" id="tableroUsuario" style="width:100%">
            <thead class="thead-bgcolor">
                <tr>
                    <th>Id</th>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Perfil</th>
                    <th>Estado</th>
                    <th>Modificar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!-- Modal Nuevo Usuarios-->
<div class="modal fade" id="nuevoUsuario" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Usuario</h4>
            </div>
            <form id="formUsuario">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <label for="exampleInputPassword1">Nombres :</label>

                                <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombres" value="" required autocomplete="off">

                                <input id="idUsuario" name="idUsuario" type="hidden" value="">
                                <input id="rut" name="rut" type="hidden" value="">
                                <div class="autocomplete">
                                    <div id="sugerencia-nombre" class="autocomplete-items"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Perfil :</label>
                                <select id="perfil" name="perfil" class="form-control select2" required>
                                    <option value="">SELECCION UN PERFIL</option>
                                    <option value="1">ADMINISTRADOR</option>
                                    <option value="2">CONSULTOR</option>
                                    <option value="3">ENCARGADO FARMACIA</option>
                                    <option value="4">SUPER USUARIO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Estado :</label>
                                <select id="usuario_estado" name="usuario_estado" class="form-control " required>
                                    <option value="1">ACTIVO</option>
                                    <option value="0">INACTIVO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-principal">Guardar</button>
                    <button type="button" class="btn btn-secundario" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>





