
<footer class="navbar-fixed-bottom">
    <div class="bicolor">
        <span class="azul"></span>
        <span class="rojo"></span>
    </div>

    <div class="top"></div>
    <div class="clearfix"></div>
    <div class="sep"></div>
    <div class="bottom">
        <div class="left">
            <span>San Eugenio #40, Ñuñoa, Santiago de Chile. Teléfono:(56) 225748200 </span>
        </div>
        <nav>
            <ul id="menu-main-menu" class="menu-main">
                <li><a title="Políticas de Privacidad" href="http://www.cenabast.cl/politica-de-privacidad/">Políticas de Privacidad </a><a id="version">Version 2.0.0</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
        <div class="bicolor">
            <span class="azul"></span>
            <span class="rojo"></span>
        </div>
    </div>
</footer>
    </body>
</html>





<!-- Modal Mensaje Sistema -->
<div class="modal" id="modalMensajeSistema" tabindex="-1" aria-labelledby="modalNotificadoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Atención:</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    <strong>Atención!</strong><p id="mensajeSistema"></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>