
        <footer class="navbar-fixed-bottom">
            <div class="bicolor">
                <span class="azul"></span>
                <span class="rojo"></span>
            </div>

            <div class="top"></div>
            <div class="clearfix"></div>
            <div class="sep"></div>
            <div class="bottom">
                <div class="left">
                    <span>San Eugenio #40, Ñuñoa, Santiago de Chile. Teléfono:(56) 225748200 </span>
                </div>
                <nav>
                    <ul id="menu-main-menu" class="menu-main">
                        <li><a title="Políticas de Privacidad" href="http://www.cenabast.cl/politica-de-privacidad/">Políticas de Privacidad </a><a id="version"></a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
                <div class="bicolor">
                    <span class="azul"></span>
                    <span class="rojo"></span>
                </div>
            </div>
        </footer>
    </body>
</html>
