
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="#crear-documento" aria-controls="crear-documento" role="tab" data-toggle="tab">Crear Documento</a>
        </li>
       
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido: <strong id="RutUsername"></strong> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a id="PerfilUser" href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="logout" href="#">Cerrar Session <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
            </ul>
        </li>
    </ul>
</div>

