@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>

            <center><h2>Error de autenticación: no ha sido posible comprobar su identidad, favor vuelva a  autenticar </h2></center><hr>

        </div>
    </body>
    </html>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <center><h2>Su sesión fue cerrada por inactividad</h2></center><hr>

    </div>
</body>
</html>